<form
    class="{{cssClass}} document"
    autocomplete="off">
    <div class="header">
        <img
            class="header__image header__image--large"
            src="{{actor.img}}"
            data-edit="img">

        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name field field--no-decoration field--center"
                    type="text"
                    name="name"
                    value="{{actor.name}}"
                    data-dtype="String">
            </div>

            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Actors.Vehicle.Structure"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--right field--no-decoration"
                            type="number"
                            name="system.structure.value"
                            value="{{data.system.structure.value}}"
                            title="{{localize "WARLOCK.Actors.Vehicle.CurrentStructure"}}"
                            data-dtype="Number">

                        <span class="resource__separator">
                            /
                        </span>

                        <input
                            class="resource__value field field--left field--no-decoration"
                            type="number"
                            name="system.structure.max"
                            value="{{data.system.structure.max}}"
                            title="{{localize "WARLOCK.Actors.Vehicle.MaximumStructure"}}"
                            data-dtype="Number">
                    </div>
                </div>

                <div class="resource">
                    <label class="resource__name">
                        <a
                            class="test-skill"
                            data-skill="{{localize "WARLOCK.Skills.ShipGunner"}}"
                            data-capability="shipGun">
                            {{localize "WARLOCK.Actors.Vehicle.ShipGun"}}
                        </a>
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.capabilities.shipGun"
                            value="{{data.system.capabilities.shipGun}}"
                            data-dtype="Number">
                    </div>
                </div>

                <div class="resource">
                    <label class="resource__name">
                        <a
                            class="test-skill"
                            data-skill="{{localize "WARLOCK.Skills.ShipGunner"}}"
                            data-capability="antiPersonnelGun">
                            {{localize "WARLOCK.Actors.Vehicle.AntiPersonnelGun"}}
                        </a>
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.capabilities.antiPersonnelGun"
                            value="{{data.system.capabilities.antiPersonnelGun}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>

            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        <a
                            class="test-skill"
                            data-skill="{{localize "WARLOCK.Skills.Pilot"}}"
                            data-capability="manoeuvrability">
                            {{localize "WARLOCK.Actors.Vehicle.Manoeuvrability"}}
                        </a>
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.capabilities.manoeuvrability"
                            value="{{data.system.capabilities.manoeuvrability}}"
                            data-dtype="Number">
                    </div>
                </div>

                <div class="resource">
                    <label class="resource__name">
                        <a
                            class="test-skill"
                            data-skill="{{localize "WARLOCK.Skills.Pilot"}}"
                            data-capability="scanners">
                            {{localize "WARLOCK.Actors.Vehicle.Scanners"}}
                        </a>
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.capabilities.scanners"
                            value="{{data.system.capabilities.scanners}}"
                            data-dtype="Number">
                    </div>
                </div>

                <div class="resource">
                    <label class="resource__name">
                        <a
                            class="test-skill"
                            data-skill="{{localize "WARLOCK.Skills.Astronav"}}"
                            data-capability="astronav">
                            {{localize "WARLOCK.Actors.Vehicle.Astronav"}}
                        </a>
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.capabilities.astronav"
                            value="{{data.system.capabilities.astronav}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav
        class="tabs"
        data-group="primary">
        <a
            class="tabs__item"
            data-tab="combat">
            {{localize "WARLOCK.Tabs.Combat"}}
        </a>

        <a
            class="tabs__item"
            data-tab="gear">
            {{localize "WARLOCK.Tabs.Gear"}}
        </a>

        <a
            class="tabs__item"
            data-tab="description">
            {{localize "WARLOCK.Tabs.Description"}}
        </a>
    </nav>

    <div class="body">
        <div
            class="tab combat-tab"
            data-group="primary"
            data-tab="combat">
            {{> "systems/warlock/templates/actors/partials/combat-tab.hbs"}}
        </div>

        <div
            class="tab gear-tab"
            data-group="primary"
            data-tab="gear">
            {{> "systems/warlock/templates/actors/partials/weapons-table.hbs"}}
            {{> "systems/warlock/templates/actors/partials/armour-table.hbs"}}
            {{> "systems/warlock/templates/actors/partials/equipment-table.hbs"}}
        </div>

        <div
            class="tab description-tab"
            data-group="primary"
            data-tab="description">
            {{editor
                data.system.biography.description
                target="system.biography.description"
                button=true
                owner=owner
                editable=editable}}
        </div>
    </div>
</form>
