<div class="warlock dice-roll">
    {{#if flavor}}
    <div class="dice-roll__flavor">
        {{flavor}}
    </div>
    {{/if}}

    <h3>
        Players:
    </h3>

    <div class="dice-roll__result ">
        <div class="dice-roll__formula">
            {{formula}}
        </div>

        {{{playerTooltip}}}

        <h4 class="dice-roll__total">
            {{playerTotal}}
        </h4>
    </div>

    <h3>
        Games Master:
    </h3>

    <div class="dice-roll__result ">
        <div class="dice-roll__formula">
            {{formula}}
        </div>

        {{{gmTooltip}}}

        <h4 class="dice-roll__total">
            {{gmTotal}}
        </h4>
    </div>

    <div class="dice-roll__flag">
        {{#if (gt playerTotal gmTotal)}}
        Players go first!
        {{else}}
        Games Master goes first!
        {{/if}}
    </div>
</div>