<!-- TODO: Convert this file to custom BEM classes. -->
<div class="dice-tooltip">
    {{#each parts}}
    <section class="dice-tooltip__part">
        <div class="dice-tooltip__dice">
            <header class="dice-tooltip__part-header">
                <span class="dice-tooltip__part-formula">{{this.formula}}</span>
                {{#if this.flavor}}
                <span class="dice-tooltip__part-flavor">{{this.flavor}}</span>
                {{/if}}
                <span class="dice-tooltip__part-total">{{this.total}}</span>
            </header>
            <ol class="dice-tooltip__rolls">
                {{#each this.rolls}}
                <li class="dice-tooltip__roll {{this.classes}}">{{{this.result}}}</li>
                {{/each}}
            </ol>
        </div>
    </section>
    {{/each}}
</div>