<form
    class="{{cssClass}} document"
    autocomplete="off">
    <header class="header">
        <img
            class="header__image"
            src="{{actor.img}}"
            title="{{actor.name}}"
            data-edit="img">

        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name field field--no-decoration field--bold field--center"
                    type="text"
                    name="name"
                    value="{{actor.name}}"
                    title="{{localize "WARLOCK.Name"}}"
                    data-dtype="String">
            </div>

            <div class="header__row">
                <input
                    class="header__community field field--no-decoration field--center"
                    type="text"
                    name="data.biography.community"
                    value="{{data.data.biography.community}}"
                    placeholder="{{localize "WARLOCK.Community"}}"
                    title="{{localize "WARLOCK.Community"}}"
                    data-dtype="String">

                <input
                    class="header__traits field field--no-decoration field--center field--wide"
                    type="text"
                    name="data.biography.traits"
                    value="{{data.data.biography.traits}}"
                    placeholder="{{localize "WARLOCK.Traits"}}"
                    title="{{localize "WARLOCK.Traits"}}"
                    data-dtype="String">
            </div>

            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Stamina"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.stamina.value"
                            value="{{data.data.resources.stamina.value}}"
                            title="{{localize "WARLOCK.CurrentStamina"}}"
                            data-dtype="Number">

                        <span class="resource__separator">
                            /
                        </span>

                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.stamina.max"
                            value="{{data.data.resources.stamina.max}}"
                            title="{{localize "WARLOCK.MaximumStamina"}}"
                            data-dtype="Number">
                    </div>
                </div>

                <div class="resource">
                    <a class="resource__name test-luck">
                        {{localize "WARLOCK.Luck"}}
                    </a>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.luck.value"
                            value="{{data.data.resources.luck.value}}"
                            title="{{localize "WARLOCK.CurrentLuck"}}"
                            data-dtype="Number">

                        <span class="resource__separator">
                            /
                        </span>

                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.luck.max"
                            value="{{data.data.resources.luck.max}}"
                            title="{{localize "WARLOCK.MaximumLuck"}}"
                            data-dtype="Number">
                    </div>
                </div>

                {{#if data.data.resources.pluck.enabled}}
                <div class="resource">
                    <a
                        class="resource__name test-pluck"
                        title="{{localize "WARLOCK.PluckTooltip"}}">
                        {{localize "WARLOCK.Pluck"}}
                    </a>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.pluck.value"
                            value="{{data.data.resources.pluck.value}}"
                            title="{{localize "WARLOCK.Pluck"}}"
                            data-dtype="Number">
                    </div>
                </div>
                {{/if}}

                {{#if data.data.resources.reputation.enabled}}
                <div class="resource">
                    <a class="resource__name test-reputation">
                        {{localize "WARLOCK.Reputation"}}
                    </a>

                    <div class="resource__body resource__body--relative-position">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.reputation.value"
                            value="{{data.data.resources.reputation.value}}"
                            title="{{localize "WARLOCK.Reputation"}}: {{data.data.resources.reputation.description}}"
                            data-dtype="Number">

                        <a class="open-reputation-dialog header__reputation-configuration">
                            <i class="fas fa-cog"></i>
                        </a>
                    </div>
                </div>
                {{/if}}

                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Advances"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.resources.advances"
                            value="{{data.data.resources.advances}}"
                            title="{{localize "WARLOCK.Advances"}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav
        class="tabs"
        data-group="primary">
        <a
            class="tabs__item"
            title="{{localize "WARLOCK.Skills"}}"
            data-tab="skills">
            {{localize "WARLOCK.Skills"}}
        </a>

        <a
            class="tabs__item"
            title="{{localize "WARLOCK.Gear"}}"
            data-tab="gear">
            {{localize "WARLOCK.Gear"}}
        </a>

        <a
            class="tabs__item"
            {{#if (eq data.data.activeSystem "warlock")}}
            title="{{localize "WARLOCK.Spells"}}"
            {{else}}
            title="{{localize "WARLOCK.Glyphs"}}"
            {{/if}}
            data-tab="spells">
            {{#if (eq data.data.activeSystem "warlock")}}
            {{localize "WARLOCK.Spells"}}
            {{else}}
            {{localize "WARLOCK.Glyphs"}}
            {{/if}}
        </a>

        <a
            class="tabs__item"
            title="{{localize "WARLOCK.Notes"}}"
            data-tab="notes">
            {{localize "WARLOCK.Notes"}}
        </a>
    </nav>

    <section class="body">
        <div
            class="tab skills-tab"
            data-group="primary"
            data-tab="skills">
            <div class="careers table">
                <div class="careers__header table__header">
                    <span class="careers__header-field table__header-field">
                        {{localize "WARLOCK.Career"}}
                    </span>

                    <span class="careers__header-field table__header-field">
                        {{localize "WARLOCK.Level"}}
                    </span>

                    <span class="careers__header-field table__header-field">
                        {{localize "WARLOCK.Current"}}
                    </span>

                    <span class="careers__header-field table__header-field">
                        <a
                            class="create-item"
                            data-item-type="Career">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </span>
                </div>

                <div class="careers__body table__body">
                    {{#each data.data.careers}}
                    <div
                        class="careers__entry table__entry"
                        data-item-id="{{id}}">
                        <span
                            class="careers__entry-field table__entry-field"
                            title="{{localize "WARLOCK.TestCareer"}}">
                            <a class="test-career">
                                {{name}}
                            </a>
                        </span>

                        <span
                            class="careers__entry-field table__entry-field"
                            title="{{localize "WARLOCK.CurrentLevel"}}">
                            {{data.data.currentLevel}}
                        </span>

                        <span
                            class="careers__entry-field table__entry-field"
                            title="{{localize "WARLOCK.IsActiveCareer"}}">
                            {{#if data.data.isActive}}
                            <i class="far fa-check-circle"></i>
                            {{else}}
                            <a class="activate-career">
                                <i class="far fa-circle"></i>
                            </a>
                            {{/if}}
                        </span>

                        <span
                            class="careers__entry-field table__entry-field">
                            <a
                                class="chat-item"
                                title="{{localize "WARLOCK.ChatCareer"}}">
                                <i class="fas fa-comment"></i>
                            </a>

                            <a
                                class="edit-item"
                                title="{{localize "WARLOCK.EditCareer"}}">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a
                                class="delete-item"
                                title="{{localize "WARLOCK.DeleteCareer"}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="skills table">
                <div class="skills__header table__header">
                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Skill"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Level"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Max"}}
                    </span>

                    <!-- The header entries are duplicated since the body is a two-column grid. -->
                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Skill"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Level"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Max"}}
                    </span>
                </div>

                <div class="skills__body table__body">
                    {{#each (lookup data.data.adventuringSkills data.data.activeSystem) as |level skill|}}
                    <div
                        class="skills__entry table__entry"
                        data-skill="{{skill}}">
                        <span class="skills__entry-field table__entry-field">
                            <a
                                class="test-skill"
                                title="{{localize "WARLOCK.TestSkill"}}">
                                {{skill}}
                            </a>

                            {{#if (gt ../data.data.resources.advances 0)}}
                            <a
                                class="increment-skill-level skills__increment-button"
                                title="{{localize "WARLOCK.IncrementSkillLevel"}}">
                                +
                            </a>
                            {{/if}}
                        </span>

                        <input
                            class="edit-skill-level skills__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="data.adventuringSkills.{{../data.data.activeSystem}}.{{skill}}"
                            value="{{level}}"
                            title="{{localize "WARLOCK.SkillLevel"}}"
                            data-dtype="Number"
                            data-skill="{{skill}}">

                        {{#with (getSkill ../data.data.careers skill)}}
                        {{#if isCareerSkill}}
                        <span
                            class="skills__entry-field table__entry-field"
                            title="{{localize "WARLOCK.MaximumLevel"}}">
                            {{maximumLevel}}
                        </span>
                        {{else}}
                        <span
                            class="skills__entry-field table__entry-field"
                            title="{{localize "WARLOCK.MaximumLevel"}}">
                            —
                        </span>
                        {{/if}}
                        {{/with}}
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div
            class="tab gear-tab"
            data-group="primary"
            data-tab="gear">
            <div class="money table">
                <div class="money__header table__header">
                    <span class="money__header-field table__header-field">
                        {{localize "WARLOCK.Money"}}
                    </span>

                    <span class="money__header-field table__header-field">
                        {{#if (eq data.data.activeSystem "warlock")}}
                        {{localize "WARLOCK.Gold"}}
                        {{else}}
                        {{localize "WARLOCK.Jades"}}
                        {{/if}}
                    </span>

                    <span class="money__header-field table__header-field">
                        {{#if (eq data.data.activeSystem "warlock")}}
                        {{localize "WARLOCK.Silver"}}
                        {{else}}
                        {{localize "WARLOCK.Shards"}}
                        {{/if}}
                    </span>

                    <span class="money__header-field table__header-field">
                        {{#if (eq data.data.activeSystem "warlock")}}
                        {{localize "WARLOCK.Pennies"}}
                        {{else}}
                        {{localize "WARLOCK.Frags"}}
                        {{/if}}
                    </span>

                    <span class="money__header-field table__header-field">
                        <a
                            class="consolidate-money"
                            title="{{localize "WARLOCK.ConsolidateMoneyHint"}}">
                            <i class="fas fa-coins"></i>
                        </a>
                    </span>
                </div>

                <div class="money__body table__body">
                    <div class="money__entry table__entry">
                        <span class="money__entry-field table__entry-field">
                            <!-- Empty to occupy space. -->
                        </span>

                        <input
                            class="money__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="data.gear.money.gold"
                            value="{{data.data.gear.money.gold}}"
                            {{#if (eq data.data.activeSystem "warlock")}}
                            title="{{localize "WARLOCK.Gold"}}"
                            {{else}}
                            title="{{localize "WARLOCK.Jades"}}"
                            {{/if}}
                            data-dtype="Number">

                        <input
                            class="money__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="data.gear.money.silver"
                            value="{{data.data.gear.money.silver}}"
                            {{#if (eq data.data.activeSystem "warlock")}}
                            title="{{localize "WARLOCK.Silver"}}"
                            {{else}}
                            title="{{localize "WARLOCK.Shards"}}"
                            {{/if}}
                            data-dtype="Number">

                        <input
                            class="money__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="data.gear.money.pennies"
                            value="{{data.data.gear.money.pennies}}"
                            {{#if (eq data.data.activeSystem "warlock")}}
                            title="{{localize "WARLOCK.Pennies"}}"
                            {{else}}
                            title="{{localize "WARLOCK.Frags"}}"
                            {{/if}}
                            data-dtype="Number">

                        <span class="money__entry-field table__entry-field">
                            <!-- Empty to occupy space. -->
                        </span>
                    </div>
                </div>
            </div>

            {{> "systems/warlock/templates/actors/partials/weapons-table.hbs"}}

            {{> "systems/warlock/templates/actors/partials/armour-table.hbs"}}

            {{> "systems/warlock/templates/actors/partials/equipment-table.hbs"}}
        </div>

        <div
            class="tab spells-tab"
            data-group="primary"
            data-tab="spells">
            {{#if (eq data.data.activeSystem "warlock")}}
            {{> "systems/warlock/templates/actors/partials/spells-table.hbs"}}
            {{else}}
            {{> "systems/warlock/templates/actors/partials/glyphs-table.hbs"}}
            {{/if}}
        </div>

        <div
            class="tab notes-tab"
            data-group="primary"
            data-tab="notes">
            <div class="grid grid--flow-row grid--two-columns">
                <div class="flex flex--column">
                    <div class="flex flex--column flex--no-gap">
                        <h1>
                            {{localize "WARLOCK.Biography"}}
                        </h1>

                        {{editor
                            content=data.data.biography.description
                            target="data.biography.description"
                            button=true
                            owner=owner
                            editable=editable}}
                    </div>

                    {{#if data.data.biography.talent.enabled}}
                    <div class="flex flex--column flex--no-gap">
                        <h1>
                            {{localize "WARLOCK.Talent"}}
                        </h1>

                        <div class="flex flex--column">
                            <input
                                class="talent__name field field--center"
                                type="text"
                                name="data.biography.talent.name"
                                value="{{data.data.biography.talent.name}}"
                                placeholder="{{localize "WARLOCK.Name"}}"
                                title="{{localize "WARLOCK.TalentName"}}"
                                data-dtype="String">

                            {{editor
                                content=data.data.biography.talent.description
                                target="data.biography.talent.description"
                                button=true
                                owner=owner
                                editable=editable}}
                        </div>
                    </div>
                    {{/if}}
                </div>

                <div class="flex flex--column flex--no-gap">
                    <h1>
                        {{localize "WARLOCK.Notes"}}
                    </h1>

                    {{editor
                        content=data.data.biography.notes
                        target="data.biography.notes"
                        button=true
                        owner=owner
                        editable=editable}}
                </div>
            </div>
        </div>
    </section>
</form>