<form class="{{cssClass}} document" autocomplete="off">
    <div class="header">
        <img
            class="header__image"
            src="{{actor.img}}"
            title="{{actor.name}}"
            data-edit="img">
        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name field field--bold field--center"
                    type="text"
                    name="name"
                    value="{{actor.name}}"
                    title="{{localize "WARLOCK.Name"}}"
                    data-dtype="String">
            </div>
            <div class="header__row">
                <input
                    class="header__type field field--center"
                    type="text"
                    name="data.type"
                    value="{{data.data.type}}"
                    placeholder="{{localize "WARLOCK.Type"}}"
                    title="{{localize "WARLOCK.Type"}}"
                    data-dtype="String">
                <input
                    class="header__notes field field--center field--wide"
                    type="text"
                    name="data.notes"
                    value="{{data.data.notes}}"
                    placeholder="{{localize "WARLOCK.Notes"}}"
                    title="{{localize "WARLOCK.Notes"}}"
                    data-dtype="String">
            </div>
            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Stamina"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.stamina.value"
                            value="{{data.data.stamina.value}}"
                            title="{{localize "WARLOCK.CurrentStamina"}}"
                            data-dtype="Number">
                        <span class="resource__separator">
                            /
                        </span>
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.stamina.max"
                            value="{{data.data.stamina.max}}"
                            title="{{localize "WARLOCK.MaximumStamina"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.ActionsPerRound"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.actionsPerRound"
                            value="{{data.data.actionsPerRound}}"
                            title="{{localize "WARLOCK.ActionsPerRound"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        <a class="test-weapon-skill">
                            {{localize "WARLOCK.WeaponSkill"}}
                            <i class="rollable-icon fas fa-dice-d20"></i>
                        </a>
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.weaponSkill"
                            value="{{data.data.weaponSkill}}"
                            title="{{localize "WARLOCK.WeaponSkill"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        <a class="test-adventuring-skills">
                            {{localize "WARLOCK.AdventuringSkills"}}
                            <i class="rollable-icon fas fa-dice-d20"></i>
                        </a>
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.adventuringSkills"
                            value="{{data.data.adventuringSkills}}"
                            title="{{localize "WARLOCK.AdventuringSkills"}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav
        class="tabs"
        data-group="primary">
        <a
            class="tabs__item"
            title="{{localize "WARLOCK.WeaponsAndArmor"}}"
            data-tab="weaponsAndArmor">
            {{localize "WARLOCK.WeaponsAndArmor"}}
        </a>
        <a
            class="tabs__item"
            {{#if (eq data.data.activeSystem "warlock")}}
            title="{{localize "WARLOCK.Spells"}}"
            {{else}}
            title="{{localize "WARLOCK.Glyphs"}}"
            {{/if}}
            data-tab="spells">
            {{#if (eq data.data.activeSystem "warlock")}}
            {{localize "WARLOCK.Spells"}}
            {{else}}
            {{localize "WARLOCK.Glyphs"}}
            {{/if}}
        </a>
        <a
            class="tabs__item"
            title="{{localize "WARLOCK.Description"}}"
            data-tab="description">
            {{localize "WARLOCK.Description"}}
        </a>
    </nav>

    <section class="body">
        <div
            class="tab weapons-and-armor-tab"
            data-group="primary"
            data-tab="weaponsAndArmor">
            <div class="flex flex--column">
                {{> "systems/warlock/templates/actors/partials/weapons-table.hbs"}}
                {{> "systems/warlock/templates/actors/partials/armour-table.hbs"}}
            </div>
        </div>
        <div
            class="tab spells-tab"
            data-group="primary"
            data-tab="spells">
            {{#if (eq data.data.activeSystem "warlock")}}
            {{> "systems/warlock/templates/actors/partials/spells-table.hbs"}}
            {{else}}
            {{> "systems/warlock/templates/actors/partials/glyphs-table.hbs"}}
            {{/if}}
        </div>
        <div
            class="tab description-tab"
            data-group="primary"
            data-tab="description">
            {{editor
                content=data.data.description
                target="data.description"
                button=true
                owner=owner
                editable=editable}}
        </div>
    </div>
</form>