<form class="{{cssClass}} document" autocomplete="off">
    <div class="header">
        <img
            class="header__image"
            src="{{actor.img}}"
            title="{{actor.name}}"
            data-edit="img">
        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name field field--bold field--center"
                    type="text"
                    name="name"
                    value="{{actor.name}}"
                    title="{{localize "WARLOCK.Name"}}"
                    data-dtype="String">
            </div>
            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Structure"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.structure.value"
                            value="{{data.data.structure.value}}"
                            title="{{localize "WARLOCK.CurrentStructure"}}"
                            data-dtype="Number">
                        <span class="resource__separator">
                            /
                        </span>
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.structure.max"
                            value="{{data.data.structure.max}}"
                            title="{{localize "WARLOCK.MaximumStructure"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.ShipGun"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.capabilities.shipGun"
                            value="{{data.data.capabilities.shipGun}}"
                            title="{{localize "WARLOCK.ShipGun"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.AntiPersonnelGun"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.capabilities.antiPersonnelGun"
                            value="{{data.data.capabilities.antiPersonnelGun}}"
                            title="{{localize "WARLOCK.AntiPersonnelGun"}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Manoeuvrability"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.capabilities.manoeuvrability"
                            value="{{data.data.capabilities.manoeuvrability}}"
                            title="{{localize "WARLOCK.Manoeuvrability"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Scanners"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.capabilities.scanners"
                            value="{{data.data.capabilities.scanners}}"
                            title="{{localize "WARLOCK.Scanners"}}"
                            data-dtype="Number">
                    </div>
                </div>
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Astronav"}}
                    </label>
                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="data.capabilities.astronav"
                            value="{{data.data.capabilities.astronav}}"
                            title="{{localize "WARLOCK.Astronav"}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="flex flex--column">
            {{> "systems/warlock/templates/actors/partials/weapons-table.hbs"}}
            {{> "systems/warlock/templates/actors/partials/armour-table.hbs"}}
            <div class="flex flex--column flex--no-gap">
                <h1>
                    {{localize "WARLOCK.Description"}}
                </h1>
                {{editor
                    content=data.data.description
                    target="data.description"
                    button=true
                    owner=owner
                    editable=editable}}
            </div>
        </div>
    </div>
</form>