<div class="armour table">
    <div class="armour__header table__header">
        <span class="armour__header-field table__header-field">
            {{localize "WARLOCK.Armour"}}
        </span>
        <span class="armour__header-field table__header-field">
            {{localize "WARLOCK.Type"}}
        </span>
        <span class="armour__header-field table__header-field">
            {{localize "WARLOCK.Reduction"}}
        </span>
        <span class="armour__header-field table__header-field">
            <a
                class="create-item"
                data-item-type="Armour">
                <i class="fas fa-plus"></i> Add
            </a>
        </span>
    </div>
    <div class="armour__body table__body">
        {{#each data.data.gear.armour}}
        <div
            class="armour__entry table__entry"
            data-item-id="{{id}}">
            <span
                class="armour__entry-field table__entry-field"
                title="{{localize "WARLOCK.Armour"}}">
                <img
                    class="table__entry-image"
                    src="{{img}}">
                <a class="toggle-description">
                    {{name}}
                </a>
            </span>
            <span
                class="armour__entry-field table__entry-field"
                title="{{localize "WARLOCK.Type"}}">
                {{data.data.type.value}}
            </span>
            <span
                class="armour__entry-field table__entry-field"
                title="{{localize "WARLOCK.Reduction"}}">
                <a class="roll-armour">
                    {{data.data.reductionRoll}}
                </a>
            </span>
            <span class="armour__entry-field table__entry-field">
                <a
                    class="equip-item"
                    title="{{localize "WARLOCK.IsEquipped"}}">
                    {{#if data.data.isEquipped}}
                    <i class="fas fa-tshirt equip-item__equipped"></i>
                    {{else}}
                    <i class="fas fa-tshirt equip-item__not-equipped"></i>
                    {{/if}}
                </a>
                <a
                    class="chat-item"
                    title="{{localize "WARLOCK.ChatArmour"}}">
                    <i class="fas fa-comment"></i>
                </a>
                <a
                    class="edit-item"
                    title="{{localize "WARLOCK.EditArmour"}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a
                    class="delete-item"
                    title="{{localize "WARLOCK.DeleteArmour"}}">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </div>
        <div class="table__entry-field--collapsible">
            {{{enrichHTML data.data.description}}}
        </div>
        {{/each}}
    </div>
</div>