<div class="equipment table">
    <div class="equipment__header table__header">
        <span class="equipment__header-field table__header-field">
            {{localize "WARLOCK.Items.Equipment.Name"}}
        </span>

        <span class="equipment__header-field table__header-field">
            {{localize "WARLOCK.Tables.Quantity"}}
        </span>

        <span class="equipment__header-field table__header-field">
            <a
                class="create-item"
                data-item-type="Equipment">
                <i class="fas fa-plus"></i> {{localize "WARLOCK.Items.AddItem"}}
            </a>
        </span>
    </div>

    <div class="equipment__body table__body">
        {{#each data.system.gear.equipment}}
        <div
            class="equipment__entry table__entry table__entry--tall"
            data-item-id="{{id}}">
            <span class="equipment__entry-field table__entry-field">
                <img
                    class="table__entry-image"
                    src="{{img}}">

                <a class="toggle-description">
                    {{name}}
                </a>
            </span>

            <span class="equipment__entry-field table__entry-field">
                <a
                    class="modify-quantity"
                    title="{{localize "WARLOCK.Tables.ModifyQuantityTooltip"}}">
                    {{system.quantity}}
                </a>
            </span>

            <span class="equipment__entry-field table__entry-field">
                <a
                    class="chat-item"
                    title="{{localize "WARLOCK.Items.ChatItem"}}">
                    <i class="fas fa-comment"></i>
                </a>

                <a
                    class="edit-item"
                    title="{{localize "WARLOCK.Items.EditItem"}}">
                    <i class="fas fa-edit"></i>
                </a>

                <a
                    class="delete-item"
                    title="{{localize "WARLOCK.Items.DeleteItem"}}">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </div>

        <div class="table__entry-field--collapsible">
            {{{system.description}}}
        </div>
        {{/each}}
    </div>
</div>
