<div class="weapons table">
    <div class="weapons__header table__header">
        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Weapon"}}
        </span>
        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Type"}}
        </span>
        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Damage"}}
        </span>
        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Equipped"}}
        </span>
        <span class="weapons__header-field table__header-field">
            <a
                class="create-item"
                data-item-type="Weapon">
                <i class="fas fa-plus"></i>
            </a>
        </span>
    </div>
    <div class="weapons__body table__body">
        {{#each data.data.gear.weapons}}
        <div
            class="weapons__entry table__entry"
            data-item-id="{{id}}">
            <span class="weapons__entry-field table__entry-field">
                {{name}}
            </span>
            <span class="weapons__entry-field table__entry-field">
                {{data.data.type.value}}
            </span>
            <span class="weapons__entry-field table__entry-field">
                <a class="table__rollable-entry-field roll-weapon">
                    {{data.data.damage.roll}} {{data.data.damage.type.value}}
                    <i class="rollable-icon rollable-icon fas fa-dice"></i>
                </a>
            </span>
            <span class="weapons__entry-field table__entry-field">
                <a class="equip-item">
                    {{#if data.data.isEquipped}}
                    <i class="far fa-check-square"></i>
                    {{else}}
                    <i class="far fa-square"></i>
                    {{/if}}
                </a>
            </span>
            <span class="weapons__entry-field table__entry-field">
                <a class="chat-item">
                    <i class="fas fa-comment"></i>
                </a>
                <a class="edit-item">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="delete-item">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </div>
        {{/each}}
    </div>
</div>