<form
    class="{{cssClass}} document"
    autocomplete="off">
    <header class="header header--very-small">
        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name field field--no-decoration field--center"
                    type="text"
                    name="name"
                    value="{{item.name}}"
                    title="{{localize "WARLOCK.Name"}}"
                    data-dtype="String">
            </div>
        </div>
    </header>

    <nav
        class="tabs"
        data-group="primary">
        <a
            class="tabs__item"
            title="{{localize "WARLOCK.Skills"}}"
            data-tab="skills">
            {{localize "WARLOCK.Skills"}}
        </a>
        <a
            class="tabs__item"
            title="{{localize "WARLOCK.Description"}}"
            data-tab="description">
            {{localize "WARLOCK.Description"}}
        </a>
    </nav>

    <section class="body">
        <div
            class="tab skills-tab"
            data-group="primary"
            data-tab="skills">
            <div class="career-skills table">
                <div class="career-skills__header table__header">
                    <span class="career-skills__header-field table__header-field">
                        {{localize "WARLOCK.Skill"}}
                    </span>
                    <span class="career-skills__header-field table__header-field">
                        {{localize "WARLOCK.Current"}}
                    </span>
                    <span class="career-skills__header-field table__header-field">
                        {{localize "WARLOCK.Max"}}
                    </span>
                    <!-- The header entries are duplicated since the body is a two-column grid. -->
                    <span class="career-skills__header-field table__header-field">
                        {{localize "WARLOCK.Skill"}}
                    </span>
                    <span class="career-skills__header-field table__header-field">
                        {{localize "WARLOCK.Current"}}
                    </span>
                    <span class="career-skills__header-field table__header-field">
                        {{localize "WARLOCK.Max"}}
                    </span>
                </div>
                <div class="career-skills__body table__body">
                    {{#each (lookup data.data.adventuringSkills data.data.activeSystem) as |data skill|}}
                    <div
                        class="career-skills__entry table__entry"
                        data-skill="{{skill}}">
                        <span
                            class="career-skills__entry-field table__entry-field"
                            title="{{localize "WARLOCK.Skill"}}">
                            {{skill}}
                        </span>
                        <span
                            class="career-skills__entry-field table__entry-field"
                            title="{{localize "WARLOCK.IsCareerSkill"}}">
                            <a class="toggle-career-skill">
                                {{#if data.isCareerSkill}}
                                <i class="far fa-check-square"></i>
                                {{else}}
                                <i class="far fa-square"></i>
                                {{/if}}
                            </a>
                        </span>
                        {{#if data.isCareerSkill}}
                        <input
                            class="edit-career-skill-level career-skills__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="data.adventuringSkills.{{../data.data.activeSystem}}.{{skill}}.maximumLevel"
                            value="{{maximumLevel}}"
                            title="{{localize "WARLOCK.MaximumLevel"}}"
                            data-dtype="Number"
                            data-career-skill="{{skill}}">
                        {{else}}
                        <span
                            class="career-skills__entry-field table__entry-field"
                            title="{{localize "WARLOCK.MaximumLevel"}}">
                            —
                        </span>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div
            class="tab notes-tab"
            data-group="primary"
            data-tab="description">
            <div class="flex flex--column flex--no-gap">
                {{editor
                    content=data.data.description
                    target="data.description"
                    button=true
                    owner=owner
                    editable=editable}}
            </div>
        </div>
    </section>
</form>